@model FindMyOrder.Models.AllIndexInfo

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1 class="myPageTitle">Tablou de bord</h1>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-1">
            <div class="card-body pb-0">
                <div class="dropdown float-right">
                    <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-menu-content">
                            <a class="dropdown-item" href="/Clients/Index">Vezi detalii</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-0">
                    <span class="count">@Model.AllClients</span>
                </h4>
                <p class="text-light">Numar total de clienti</p>
                <div class="chart-wrapper px-0" style="height:85px;" height="85">
                    <i class="fa fa-user fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-2">
            <div class="card-body pb-0">
                <div class="dropdown float-right">
                    <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-menu-content">
                            <a class="dropdown-item" href="/Couriers/Index">Vezi detalii</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-0">
                    <span class="count">@Model.AllCouriers</span>
                </h4>
                <p class="text-light">Numar total de curieri</p>
                <div class="chart-wrapper px-0" style="height:85px;" height="85">
                    <i class="fa fa-drivers-license fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-3">
            <div class="card-body pb-0">
                <div class="dropdown float-right">
                    <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-menu-content">
                            <a class="dropdown-item" href="/Contact/Index">Vezi detalii</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-0">
                    <span class="count">@Model.AllContactMessages</span>
                </h4>
                <p class="text-light">Mesaje contact</p>
                <div class="chart-wrapper px-0" style="height:85px;" height="85">
                    <i class="fa fa-envelope fa-5x"></i>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-4">
            <div class="card-body pb-0">
                <div class="dropdown float-right">
                    <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-menu-content">
                            <a class="dropdown-item" href="/ReportProblem/Index">Vezi detalii</a>
                        </div>
                    </div>
                </div>
                <h4 class="mb-0">
                    <span class="count">@Model.ALLProblemReported</span>
                </h4>
                <p class="text-light">Probleme raportate</p>
                <div class="chart-wrapper px-3" style="height:85px;" height="85">
                    <i class="	fa fa-warning fa-5x"></i>
                </div>
            </div>
        </div>
    </div>

</div>
