
@{
    ViewBag.Title = "CarsTableDialog";
    Layout = null;
}


<div id="CarsTableDialog">
    <br /><br />
    <div style="width:100%; margin:0 auto" class="tablecontainer table table-stripped table-boarded">
        <table id="myUserRelCarDatatable" class="table">
            <thead class="thead-light">
                <tr>
                    <th>Imagine</th>
                    <th>Model</th>
                    <th>L/100Km</th>
                    <th>Asociaza</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<script>
    $(function () {
        var oTable = $('#myUserRelCarDatatable').DataTable({
            "language": {
                "lengthMenu": "Afiseaza _MENU_ inregistrari pe pagina",
                "zeroRecords": "Ne pare rau dar nu am gasit inregistrari",
                "info": "Pagina _PAGE_ din _PAGES_",
                "infoEmpty": "Nu sunt inregistrari disponibile",
                "infoFiltered": "(filtru aplicat pe _MAX_ inregistrari totale)",
                "sSearch": "Caută:",
                "sProcessing": "Procesează...",
                "oPaginate": {
                    "sFirst": "Prima",
                    "sPrevious": "Precedenta",
                    "sNext": "Următoarea",
                    "sLast": "Ultima"
                }
            },
            "autoWidth": false,
            "columnDefs": [
                { "width": "20%" },
                { "width": "20%" },
                { "width": "20%" },
                { "width": "20%" },
            ],
            "ajax": {
                "url": '/Couriers/GetAllCarsInfo',
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                {
                    data: "StringCarImage",
                    render: function (data, type, row) {
                        return '<img class="img-responsive carImageSize" src="' + data + '">';
                    }
                },
                { "data": "Name" },
                { "data": "LPerHundredKm" },
                {
                    "data": "Id", "width": "50px", "render": function (data) {
                        return '<a id="myClickCar" href="" style="color: blue" onclick="AssociateUserRelCar(' + data +')">Asociaza</a>';
                    }
                }
            ]
        })
    })
</script>


<script src="~/Scripts/App/UserRelCarTableDialogs.js"></script>


