<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FindMyOrder</title>

        <link href="~/Content/glyphIconBootstrap.css" rel="stylesheet" />


        <link rel="stylesheet" href="~/assets/css/normalize.css">
        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/assets/css/themify-icons.css">
        <link rel="stylesheet" href="~/assets/css/cs-skin-elastic.css">
        <link rel="stylesheet" href="~/assets/scss/style.css">
        <link rel="stylesheet" href="~/Content/MyAdminStyle.css">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-auth.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" /> 

    </head>
    <body>



        <!-- Left Panel -->
        <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/Admin/Index"><img src="~/images/logo.png" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="/Admin/Index"><img src="~/images/logo2.png" alt="Logo"></a>
                </div>
                <br />
                <div id="main-menu" class="main-menu collapse navbar-collapse">

                    <ul class="nav navbar-nav" id="menuNavBar">
                        <li>
                            <a href="/Admin/Index"> <i class="menu-icon fa fa-dashboard"></i>Tablou de bord</a>
                        </li>
                        <content class="menu-title">Actiuni</content><!-- /.menu-title -->
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Utilizatori</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><a href="/Couriers/Index"><i class="menu-icon fa fa-circle-thin" style="position:initial"></i>Curieri</a></li>
                                <li><a href="/Clients/Index"><i class="menu-icon fa fa-circle-thin" style="position:initial"></i>Clienti</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/ClientPackage/Index"> <i class="menu-icon fa fa-archive"></i>Pachete clienti</a>
                        </li>
                        <li>
                            <a href="/UserRelationship/Index"> <i class="menu-icon fa fa-sitemap"></i>Relatii Client-Curier</a>
                        </li>  
                        <li>
                            <a href="/Cars/Index"> <i class="menu-icon fa fa-truck"></i>Automobile</a>
                        </li>


                      
                        
                        <content class="menu-title">Statistici</content><!-- /.menu-title -->
                        <li>
                            <a href="/Statistics/Index"> <i class="menu-icon fa fa-bar-chart"></i>Statistici Curier</a>
                        </li>   
                        <content class="menu-title">Informatii</content><!-- /.menu-title -->
                        <li>
                            <a href="/Contact/Index"> <i class="menu-icon fa fa-envelope"></i>Mesaje Contact</a>
                        </li>
                        <li>
                            <a href="/ReportProblem/Index"> <i class="menu-icon fa fa-warning"></i>Probleme raportate</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </aside><!-- /#left-panel -->
        <!-- Left Panel -->

        <!-- Right Panel -->
        <div id="right-panel" class="right-panel">

            <!-- Header-->
            <header id="header" class="header">
                <div class="header-menu">
                    <div class="col-sm-7">
                        <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                        <a href="#" class="MyHelloMessage" aria-haspopup="true" aria-expanded="false">
                            <span>Welcome @CurrentUser.Email</span>
                        </a>
                    </div>
                    <div class="col-sm-5">
                        <div class="user-area dropdown float-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="user-avatar rounded-circle" src="~/images/AdminPic.png" alt="User Avatar" />
                            </a>

                            <div class="user-menu dropdown-menu">
                                <a class="nav-link myNavItem" href="/Login/LogOut"><i class="fa fa-sign-out myNavIcon"></i>&nbsp;&nbsp;Logout</a>
                            </div>
                        </div>
                    </div>


                </div>
            </header><!-- /header -->
            <!-- Header-->




            <script src="~/Scripts/jquery-3.3.1.min.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
            <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

            @RenderBody()
        </div><!-- /#right-panel -->
        <!-- Right Panel -->


            <script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
            <script src="~/assets/js/plugins.js"></script>
            <script src="~/assets/js/main.js"></script>
            <script src="~/assets/js/dashboard.js"></script>

</body>
</html>

